{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Усі завдання</title>
  <link rel="icon" type="image/x-icon" href="{% static 'icons/icons8-brutus-32.ico' %}">
  <link rel="stylesheet" href="{% static 'css/all-room-views.css' %}">
{% endblock %}

{% block body %}
<div class="username-display">
  {% if user.username %}
    <a href="/settings" class="login-link">👤 {{ user.username }}</a>
    <a href="/wallet" class="login-link">({{ user.wallet }})</a>
  {% else %}
    <a href="/login" class="login-link">👤 Ви не увійшли в акаунт</a>
    <a href="/login" class="login-link">Увійти</a>
  {% endif %}
  <div class="switch-wrapper">
    <label class="switch" title="Перемкнути тему">
      <input type="checkbox" id="themeToggle" aria-label="Theme toggle">
      <span class="slider"></span>
    </label>
  </div>
</div>

<form method="get" class="filter-form">
  <label class="container1">
    <input type="checkbox" id="toggleForm">
    
    <svg class="eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="30" height="30">
      <path fill="currentColor" d="M572.52 241.4c1.41 2.36 1.41 5.32 0 7.68C518.7 331.9 402.7 416 288 416S57.3 331.9 3.48 249.1c-1.41-2.36-1.41-5.32 0-7.68C57.3 180.1 173.3 96 288 96s230.7 84.1 284.52 145.4zM288 176c-61.86 0-112 50.14-112 112s50.14 112 112 112 112-50.14 112-112S349.86 176 288 176zm0 176c-35.35 0-64-28.65-64-64s28.65-64 64-64 64 28.65 64 64-28.65 64-64 64z"/>
    </svg>
    
    <svg class="eye-slash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="30" height="30">
      <path fill="currentColor" d="M320 400c-89.53 0-170.8-48.41-212.12-121.07 25.55-41.43 66.48-72.43 114.12-86.56L106.7 81.37c-6.25-6.25-6.25-16.38 0-22.63s16.38-6.25 22.63 0l497.94 497.94c6.25 6.25 6.25 16.38 0 22.63s-16.38 6.25-22.63 0L520.9 433.8C476.8 460.1 400.9 400 320 400zM320 128c-17.67 0-32 14.33-32 32 0 5.45 1.42 10.56 3.85 15.06l41.21 41.21C341.4 176.6 336.3 176 320 176c-88.22 0-160 71.78-160 160 0 16.3 .6 21.39 7.25 30.06l41.21-41.21C176.6 353.4 181.71 352 187.06 352c17.67 0 32-14.33 32-32 0-5.45-1.42-10.56-3.85-15.06l-41.21-41.21C298.6 183.4 303.7 184 320 184c88.22 0 160 71.78 160 160 0 16.3-.6 21.39-7.25 30.06l-41.21-41.21C463.4 303.4 458.3 304 440 304c-17.67 0-32-14.33-32-32 0-5.45 1.42-10.56 3.85-15.06l41.21-41.21C458.3 199.4 463.4 200 480 200c0-88.22-71.78-160-160-160z"/>
    </svg>
  </label>

  <div class="filters-content">
    <label>Приоритет:
      <select name="priority">
        <option value="">Всі</option>
        <option value="low" {% if selected_priority == 'low' %}selected{% endif %}>Low</option>
        <option value="medium" {% if selected_priority == 'medium' %}selected{% endif %}>Medium</option>
        <option value="high" {% if selected_priority == 'high' %}selected{% endif %}>High</option>
      </select>
    </label>

    <label>Роль (Розробник/Комьюніті):
      <select name="role_priority">
        <option value="">Всі</option>
        <option value="Творець Сайту" {% if selected_role_priority == 'Творець Сайту' %}selected{% endif %}>Створено розробником</option>
        <option value="Творець Контенту" {% if selected_role_priority == 'Творець Контенту' %}selected{% endif %}>Створено комьюнити</option>
      </select>
    </label>

    <label>Активність:
      <select name="activity_status">
        <option value="">Всі</option>
        <option value="active" {% if selected_activity_status == 'active' %}selected{% endif %}>Активно</option>
        <option value="inactive" {% if selected_activity_status == 'inactive' %}selected{% endif %}>Неактивно</option>
      </select>
    </label>

    <label>Підписка:
      <select name="subscription">
        <option value="">Всі</option>
        <option value="Не потрібна" {% if selected_subscription == 'Не потрібна' %}selected{% endif %}>Непотрібна</option>
        <option value="Потрібна" {% if selected_subscription == 'Потрібна' %}selected{% endif %}>Потрібна</option>
      </select>
    </label>

    <label>Назва завдання:
      <input type="text" name="title" value="{{ title_query }}" placeholder="Пошук...">
    </label>

    <button type="submit">Фільтрувати</button>
  </div>
</form>

<div class="container">
  {% for task in tasks %}
    <div class="room-card">
      <a href="{% url 'task-info' task.id %}" style="text-decoration: none; color: inherit;">
        <h2 style="margin: 0 0 10px 0;">{{ task.title }}</h2>
        <span class="white-text" style="display: block; font-weight: normal;">Пріоритет: {{ task.priority }}</span>
        <label class="white-text" style="display: block; font-weight: normal;">
          Термін виконання:
          <input type="datetime-local" value="{{ task.deadline|date:'Y-m-d H:i' }}" readonly style="border:none; background:transparent;">
        </label>

        {% if task.owner.username == "AHAPEN_4264" %}
          <br>
          <span style="display: block; font-weight: bold; color: #ffffff; background-color: #007bff; padding: 2px 6px; border-radius: 4px;">
            Створено розробником
          </span>
        {% endif %}

        {% if task.average_rating == 0 %}
          <p class="white-text" style="font-weight: normal; color: red">Завдання ще не оцінено</p>
        {% else %}
          <p>Середній рейтинг: {{ task.average_rating|floatformat:1 }} ★</p>
        {% endif %}

        {% if task.deadline >= now %}
          <span style="color: green">Активно</span>
        {% else %}
          <span style="color: red">Неактивно</span>
        {% endif %}
<br>
        {% if task.is_completed %}
          <span style="color: green;">Завдання виконано</span>
        {% else %}
          <span class="white-text" style="font-weight: normal; color: rgb(255, 0, 0)">Не виконано</span>
        {% endif %}

        {% if task.subscription == 'Потрібна' and user.subscription != 'Підписка' %}
          <span class="white-text" style="font-weight: normal; color: rgb(255, 0, 0)"><br>Потрібна підписка</span>
        {% endif %}

        {% if user.role == 'Творець Сайту' %}
          <form method="post" action="{% url 'delete-task' task.id %}" style="margin-top:10px;">
            {% csrf_token %}
            <!-- <button type="submit" style="background:none; border:none; color:red; cursor:pointer; font-weight:bold;"> -->
              <!-- Видалити -->
            <!-- </button> -->
            <button type="submit" class="delete-btn" style="background:none; border:none; color:red; cursor:pointer; font-weight:bold;"
                    onclick="return confirm('Ви точно хочете видалити завдання?')">Видалити</button>
          </form>
        {% endif %}
      <a>
    </div>
  {% empty %}
    <div>Немає завдань для відображення.</div>
  {% endfor %}
</div>

<div class="username-display">
  {% if user.username %}
    <div id="menu" class="styled-button" onclick="redirectToMenu()">
      🔥
      <span style="color: #6a5acd; text-decoration: none; font-weight: bold;">Меню</span>
      🔥
    </div>
  {% else %}
    <div id="menu" class="styled-button" onclick="redirectToMenuNone()">
      🔥
      <span style="color: #6a5acd; text-decoration: none; font-weight: bold;">Меню</span>
      🔥
    </div>
  {% endif %}
</div>

<style>
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #277cf4, #2affb1);
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100%;   
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;   
  padding: 20px;
  overflow: hidden;
  height: 100%;   
}


html.dark-theme {
  background: linear-gradient(135deg, #141E30, #243B55);
  color: white;
}

html.dark-theme body {
  color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 30px;

  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
}

.container1 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #a5a5b0;
  z-index: 10;
}

/* Глазик */
.container1 input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.container1 .eye-slash { display: none; }
.container1 input:checked ~ .eye { display: none; }
.container1 input:checked ~ .eye-slash { display: block; }


.room-card {
  flex: 1 1 calc(25% - 32px); 
  min-width: 200px;
  max-width: 250px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark-theme .room-card {
  background-color: #1e1e1e;
  color: #fff;
}

.container button.btn,
button {
  width: 100%;
  padding: 10px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover,
.container button.btn:hover {
  background-color: #00f2fe;
}

.filter-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  width: 100%;
  margin: 20px auto; 
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  overflow: hidden;
  height: 50px;
  transition: height 0.5s ease, padding 0.5s ease;
}

html.dark-theme .filter-form {
  background: rgba(87, 79, 79, 0.8);
}

.filter-form.expanded {
  max-height: 300px;
  padding: 30px 20px 350px 20px; 
}

.filter-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.filter-form select,
.filter-form input,
.filter-form button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filters-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Переключатель темы */
.switch-wrapper {
    margin-top: 6px;
}

.switch {
    font-size: 17px;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: 0.5s;
}

input:checked + .slider {
    background-color: #522ba7;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* Username display */
.username-display {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
} 

.username-display a {
  color: #000;
  text-decoration: none;
}

/* Styled menu button */
.styled-button {
  position: fixed;
  top: 10px;      
  left: 10px;     
  z-index: 1000;  
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(90deg, #00caf3, #66b2ed);
  color: #5f2eea;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.styled-button span {
  color: #6a5acd;
  text-decoration: none;
  font-weight: bold;
}

.styled-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Рейтинг */
/* From Uiverse.io by SelfMadeSystem */ 
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
/* Рейтинг */

</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  // Темная тема
  const toggleTheme = document.getElementById("themeToggle");
  const html = document.documentElement;
  if (localStorage.getItem("darkTheme") === "true") {
    html.classList.add("dark-theme");
    toggleTheme.checked = true;
  }
  toggleTheme.addEventListener("change", function () {
    html.classList.toggle("dark-theme", this.checked);
    localStorage.setItem("darkTheme", this.checked);
  });

  // Форма фильтров
  const toggleForm = document.getElementById("toggleForm");
  const filterForm = document.querySelector(".filter-form");
  toggleForm.addEventListener("change", function() {
    filterForm.classList.toggle("expanded", this.checked);
  });
});

function redirectToMenu() {
  window.location.href = "/menu/{{ user.id }}";
}

function redirectToMenuNone() {
  window.location.href = "/menu/none";
}
</script>
{% endblock %}
